:root {
  --primary-color: #1E3A5F;
  --secondary-color: #ffffff;
  --background-color: #f5f5f5;
  --text-color: #333;
  --hover-color: #357ab8;

  --heading-font: "Playfair Display", serif;
  --body-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background: var(--background-color);
  color: var(--text-color);
}

header {
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem;
}

#title {
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: .4rem;
}

nav a:hover {
  background: var(--hover-color);
  border-radius: 5px;
}

main {
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
}
main h1{
    text-align:center;
    margin-bottom:1rem;
    font-family:var(--heading-font);
    font-size: 1.5rem;
}

#members {
  gap: 1rem;
}

#members.grid {
  display: grid;
  grid-template-columns: 1fr; /* mobile: one column */
}

#members.list {
  display: block;
}

.member-card {
  border: 1px solid #ccc;
  padding: 1rem;
  background:var(--secondary-color);
}

.member-card img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

#menu-button {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

#main-nav {
  display: none;
  flex-direction: column;
}

#main-nav.show {
  display: flex;
}
.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* MUITO IMPORTANTE (não distorce) */
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
  color:var(--secondary-color);
  text-align: center;
    
  background-color:#00000080;
  padding: 20px;
  border-radius: 10px;
}
.weather {
  position: absolute;
  top: 20px;
  right: 20px;

  background-color: #FFFFFFE6;
  color: #333;

  padding: 15px;
  border-radius: 10px;

  width: 200px;

  box-shadow: 0 4px 10px #00000033;

  font-size: 0.9rem;
}
.spotlights {
  padding: 20px;
  text-align: center;
}

#spotlight-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.spotlight-card {
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 4px 10px #00000033;
}

.spotlight-card img {
  width: 100px;
  height: auto;
  margin: 10px 0;
}
footer {
  text-align: center;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  margin-top: 1rem;
}
