@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  #members.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  #members.list {
    display: block;
  }

  #menu-button {
    display: none;
  }

  #main-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .hero {
    position: relative;
    height: 60vh;
    overflow: hidden;
  }

  .hero-img {
    height: 100%;
    object-fit: cover;
    display:block;
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    z-index: 2;
  }

  .weather {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    z-index: 2;
  }
 
  .hero-content h1 {
    font-size: 1.5rem;
  }

  .spotlights {
    position: relative;
    z-index: 1;
  }

   .join-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  .cards-section {
    position: sticky;
    top: 1rem;
  }
}
/* MÉDIAS TELAS (641px a 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  .discover-grid {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }
}

/* GRANDES TELAS (1025px+) */
@media (min-width: 1025px) {
  .discover-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6"
      "card7 card8 .";
  }

  /* efeito hover exclusivo para desktop */
  .card img:hover {
    filter: brightness(0.85);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
}
