@media (min-width: 768px) {

  nav {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  main h1 {
    grid-column: 1 / -1;
  }

  .about {
    grid-column: 1;
  }

 
  .student-photo {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .courses {
    grid-column: 1 / -1;
  }

#menu-button {
    display: none;
}

#main-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
}
